
body{
  font-family: 'Lato', sans-serif;

  font-size: 14px;
  line-height: 20px;

}

.banner{
  float: right;

   position: relative;
  left: 3%; 
}

.pagina {
   margin:0 auto;
   width: 1100px;
   text-align: center;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

.item1 {
  grid-column: 1 / 2;
  background-image: url('../images/header_bg.png');
}

.item2 {
  grid-column: 2 / 4;
  background-image: url('../images/header_bg.png');
}

ul li{
  display: inline-block;
  margin: 20px
}

ul{
  list-style: none;
}

.item3{
  grid-column: 1 / 3;
  background-image: url('../images/banner_bg.png');
  grid-row: 2/4;
}

.item3a{
  grid-column: 1 / 3;
  background-image: url('../images/banner_bg.png');
}

.audi{
    float: right;
   position: relative;
  left: -10%; 
}

.item{
  background-image: url('../images/banner_bg.png');
  grid-column: 3 / 4;
  color: rgba(255, 255, 255, 0.8);
  
}

.lorem{
  margin-left: 40px;
}

.item4{
  grid-column: 1 / 2;

}

.item5{
  grid-column: 2 / 3;
  

}



.item6{
  grid-column: 3 / 4;
}

.item7{
  grid-column: 1 / 2;
  grid-row: 5/6;

}

.item8{
  grid-column: 2 / 3;
  grid-row:  5/6;
  


}

.item9{
  grid-column: 3 / 4;
  grid-row: 5 / 6;

}

.item10{
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  background-image: url('../images/footer_bg.png');

}

.hoofd{
  font-size: 26px;
  line-height: 30px;
  text-align: left;
}

.text{
  text-align: left;
  padding-right: 20px
}